.container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.face {
    position: relative;
    font-size: xx-large;
}

.outer-ring {
    position: absolute;
    border-radius: 50%;
    border: 1vh solid black;
    width: 68vh;
    height: 68vh;
    top: -3vh;
    left: -35vh;
}

.number {
    position: absolute;
    top: 30vh;
    width: 60vh;
    left: -30vh;
}

.dot {
    position: absolute;
    width: 64vh;
    top: 30vh;
    left: -32vh;
}

.center-dot {
    position: absolute;
    top: 30vh;
}