:root {
    --accent: #6cb68b;
    --secondary: black;
}

.github-corner {
    height: 15vh;
    width: 15vh;
    color: var(--accent);
    fill: var(--secondary);
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.container {
    margin-top: 17vh;
    height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.face {
    position: relative;
    font-size: xx-large;
    border: 1vh solid var(--secondary);
    border-radius: 50%;
    width: 68vh;
    height: 68vh;
}

.face>div {
    position: absolute;
}

.number {
    width: 60vh;
    top: 32vh;
    left: 4vh;
    color: var(--accent);
    text-shadow: -0.1vh 0.1vh 0 var(--secondary),
        0.1vh 0.1vh 0 var(--secondary),
        0.1vh -0.1vh 0 var(--secondary),
        -0.1vh -0.1vh 0 var(--secondary);
}

.small-number {
    width: 50vh;
    top: 33vh;
    left: 9vh;
    font-size: large;
}

.number div,
.small-number div {
    width: min-content;
}

.dot {
    width: 66vh;
    top: 33vh;
    left: 1vh;
}

.dot div {
    background-color: var(--accent);
    width: 2vh !important;
    height: 2vh;
    border-radius: 50%;
}

.line {
    width: 64vh;
    top: 33vh;
    left: 2vh;
}

.line div {
    width: 0.2vh;
    height: 2vh;
    background-color: var(--secondary);
}

.center-dot {
    background-color: var(--secondary);
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 5;
}

.hand {
    left: 50%;
    transform-origin: center left;
}

.second {
    border: 0.5vh solid transparent;
    border-left: 30vh solid var(--secondary);
    box-sizing: content-box;
    top: calc(50% - 0.25vh);
    z-index: 4;
}

.second:after {
    left: -6vh;
    border: 0.8vh solid transparent;
    border-left: 2.5vh solid var(--accent);
    content: '';
    position: absolute;
    transform: translateY(-50%);
}

.second:before {
    left: -6.2vh;
    border: 1vh solid transparent;
    border-left: 3.4vh solid var(--secondary);
    content: '';
    position: absolute;
    transform: translateY(-50%);
}

.minute {
    /* total length = 26vh */
    top: calc(50% - 0.5vh);
    z-index: 3;
}

.minute:before {
    position: absolute;
    content: '';
    border: 1vh solid transparent;
    border-right: 20vh solid var(--secondary);
    transform: translateY(-0.25vh);
    height: 0.5vh;
}

.minute:after {
    position: absolute;
    content: '';
    border: 1vh solid transparent;
    border-right: 23vh solid var(--accent);
    transform: translateX(-3vh);
}

.minute .forward:before {
    position: absolute;
    content: '';
    left: 21vh;
    border: 1vh solid transparent;
    border-left: 3.5vh solid var(--secondary);
    transform: translateY(-0.25vh);
    height: 0.5vh;
    z-index: 3;
}

.minute .forward:after {
    position: absolute;
    content: '';
    left: 21vh;
    border: 1vh solid transparent;
    border-left: 3.5vh solid var(--accent);
    z-index: 4;
}

.minute .needle {
    position: absolute;
    left: 24vh;
    top: 0.7vh;
    width: 2.25vh;
    height: 0.5vh;
    background-color: var(--secondary);
    z-index: 2;
}

.hour {
    border-radius: 5vh;
    border: 0.1vh solid var(--secondary);
    width: 20vh;
    height: 2vh;
    top: calc(50% - 1vh);
    background-color: var(--accent);
    z-index: 2;
}